.post-list__item {
  display: flex;
  flex-direction: row;
  @media (max-width: 500px) {
    flex-direction: column;
    text-align: center;
  }
  padding: 1rem;
}
.post-list__thumbnail {
  padding: 1rem;
}

.post-list__content {
  padding: 1rem;
  text-align: left;
}

.post-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-pagination {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &__buttons {
    text-align: right;
  }
}
